// creates body size and alignment for elements and congruent with all pages
body{
    margin: 0;
    padding: 0;
    background-color: black;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
header{
    padding: 10px;
    background-color: black;
    // nav element and links to other pages 
        .nav-items{
            font-size: 20px;
            display: flex;
            justify-content: flex-end;

            a{
                color: white;
                text-decoration: none;
                padding: 15px;          
                }

            .seperate{
                color: white;
                font-size: 40px;
                padding: 5px;
                
            }
        }
    }

main{
    // placent of elements in main
    height: 75vh;
    section{
        h1{
            color: white;
            font-size: 48px;
            position: absolute;
            right: 20px;
            z-index: 1;
        }
        .image{
            img{
                width: 100%;
                height: 552px;
            }
        }
        .text{
            h2{
                color: #BBA53D;
                background-color: black;
                position: absolute;
                font-size: 36px;
                bottom: 90px;
                padding: 20px;
                z-index: 1;
            }
        }
    }
}

    footer{
    
        .social-media{
         display: flex;
         justify-content: space-around;
     
         margin-bottom: 24px;
     
         a{
     
             i{
                 color: white;
                 font-size: 24px;
             }
         }
        }
     
        .info{
         color: white;
     
         p{
             margin: 5px 0;
         }
        }
     }

// font alignment in mobile view
    @media screen and (max-width: 600px){
        img{
            margin: 0;
            width: 100%;
            position: absolute;
        }
        h2{
            text-align: center;
            font-size: 12px;
            }
        
    }
}